:root {
    --dark: #2f3037ff;
    --darker: #131316ff;
    --green: #00a878ff;
    --purple: #c09bd8ff;
    --red: #b6244fff;
    --white: #ffffff;
}
* {
    background-color: var(--darker);
}

h1 {
    color: var(--red);
}
h2 {
    color: var(--purple);
}

.center {
    text-align: center;
}
.marginauto{
    margin: 0 auto;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
#controls {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-top: 30px;
}
#score {
    padding-bottom: 30px;
}
button {
    width: 50px;
    height: 50px;
}
i {
    font-size: 200%;
}